<section class="bar background-image-fixed-2 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
	    <div class="heading text-center">
                <h2>En vidéos</h2>
            </div>
		<div class="videoWrapper">

                	<iframe width="1280" height="720"  src="https://www.youtube.com/embed/videoseries?list=PL-HlkHeiF-wOzzC43hgl-CW4bbsBc8Hom" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
            </div>

        </div>
    </div>
</section>
